body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    width: 800px;
    margin: auto;
}

h1:after {
    content: '';
    display: block;
    clear: both;
}

body.cert .no-cert {
    display: none;
}

.no-cert {
    color: red;
}

body:not(.cert) .has-cert {
    display: none;
}

div {
    margin: 1em auto;
}

#name {
    font-weight: bold;
}

.course {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.logo {
    width: 124px;
    float: left;
    margin: 0 1em 1em 0;
}

.footer {
    font-size: 0.7em;
}

.li-button {
    height: 1em;
    margin: 0 1em;
}
